@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
:root{
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-size: 1.6rem;
  font-family: 'Bai Jamjuree', sans-serif;
  color: var(--Grayish-Blue);

}
h1,h2,h3{
  color: var(--Dark-Grayish);
}
img{
  width: 100%;
}

li{
  list-style: none;
}
.container{
  width: calc(100% - 10%);
  margin-inline: auto;
  max-width: 120rem;
}

.btn{
  border : 2px solid red;
  outline: none;
  display: inline-block;
  padding: 1.5rem 8rem;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2.5rem;
}

.cta{
  background-color: var(--Strong-Cyan);
  border-bottom: 2px solid green;
}

.cta:hover{
  opacity: .9;
}
.cta-m:hover{
  opacity: .9;
}

.cta-m{
  background-color: var(--Light-Blue);
  border-bottom: 2px solid blue;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  gap: 8rem;
  position: relative;
}

.hero::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media(min-width:860px){
  .hero::after{
    background-image: url(../images/bg-header-desktop.png);
  }
}

.hero img{
  width: 50%;
  max-width: 22rem;
}

.hero__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 58rem;
}


.hero__actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 40rem;
  z-index: 100;
}

@media(min-width:860px){
  .hero__actions{
    flex-direction: row;
    margin-inline: auto;
    max-width: 100%;
  }
}

.kepp{
  text-align: center;
  margin-block: 8rem;
  max-width: 60rem;
  margin-inline: auto;
}
.kepp p{
  padding-top: 3rem;
}

.quick{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
  margin-block: 8rem;
}

@media(min-width:860px){
  .quick{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-block: 12rem;

  }
}
.cards{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.card h2{
  padding-bottom: 1rem;
}

.access{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-block: 10rem;
  max-width: 60rem;
  margin-inline: auto;
}
.access p{
  padding-top: 1rem;
}

.super{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
}

.super h2{
  padding-bottom: 1rem;
}

.super__cards{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media(min-width:820px){
  .super__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block: 4rem;
  }
}
.card__icon{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.card__icon img{
  width: 48px;
}

.brands{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-block: 10rem;
}
.brands img{
  width: 35%;
}
@media(min-width:650px){
  .brands{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    place-items: center;
    margin-block: 15rem;

  }
  .brands img{
    width: 60%;
  }
}

.clip{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-block: 8rem;
  max-width: 60rem;
  margin-inline: auto;
}
@media(min-width:860px){
  .clip{
    margin-block: 15rem;
  }
}
.clip h2{
  padding-bottom: 1rem;
}

.clip__actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 40rem;
}
@media(min-width:860px){
  .clip__actions{
    max-width: 100%;
    flex-direction: row;
  }
}


.footer{
  background-color: #eee;
  padding-block-start: 4rem;
  padding-block-end: 2rem;
}

.footer .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6rem;
}


.footer__nav ul{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__nav ul li{
  cursor: pointer;
}
.footer__nav ul li:hover{
  text-decoration: underline;
}
@media(min-width:860px){
  .footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

}
@media(min-width:920px){

  .footer .container ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }
}

.footer__img{
  width: 12%;
  max-width: 68px;
}
.footer__social{
  display: flex;
  gap: 2.5rem;
}

.social{
  cursor: pointer;
  width: 25px;
  border: 2px solid transparent;
}
.social:hover{
  border : 1px solid transparent;
  text-decoration: underline;
}